#! /bin/bash

### =================================================================================================== ###
### LWW-SET DOCKER DEV/TEST SETUP ENVIRONMENT VARIABLES:
###

DIR=`dirname ${BASH_SOURCE[0]}`
DIR=`realpath ${DIR}`

export USE_BUILDER=yes

export START_NODES=yes

export NODES_COUNT=3

export EXTERNAL_NODES=

export START_NORMAL_MONKEY=yes

export NORMAL_MONKEY_COUNT=3

export NORMAL_MONKEY_IN_PROCESS_COUNT=5

export START_OFFLINE_ONLINE_MONKEY=yes

export OFFLINE_ONLINE_MONKEY_COUNT=1

export OFFLINE_ONLINE_MONKEY_IN_PROCESS_COUNT=1

export START_CLIENT_VIEWER_MONKEY=yes

export CLIENT_VIEWER_MONKEY_COUNT=1

export CLIENT_VIEWER_MONKEY_IN_PROCESS_COUNT=1

### =================================================================================================== ###
